# React
frontend/node_modules/
frontend/dist/

# macOS
.DS_Store
**/.DS_Store

# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Old frontend
backend/FRONTEND/

# Large dataset
backend/ipl-dataset-2008-2019.zip
backend/venv/
